<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<% if (onlineUser) { %> <%- include("loginNav") -%> <% } else { %> <%-
include("navbar") -%> <% } %>

<div class="container">
  <div class="row">
    <div class="col-6 container">
      <div class="alert alert-danger text-danger distpal-4"><%= error %></div>
    </div>
  </div>
</div>